
@media screen and (min-width: 1024px) {
    body{
        width: 800px;
        height: auto;
        margin: 0 auto;
    }
}

#XMLID_49_, #XMLID_727_, #XMLID_716_, #XMLID_693_, #XMLID_669_, #XMLID_676_, #XMLID_742_, #circle_x5F_1, #circle_x5F_2, #skull, #fence, #ballon, #zombie_x5F_sign, #zombie_x5F_6, #zombie_x5F_5, #zombie_x5F_4, #zombie_x5F_3{
    cursor: pointer;
}