
@media screen and (min-width: 1024px) {
    body{
        width: 800px;
        height: auto;
        margin: 0 auto;
    }
}

.svg-graphic {
    margin-top: -4px;
}

.hidden {
    display: none;
  }